body,
html {
  max-width: 100%;
  overflow-x: hidden;
  /* 防止水平滾動 */
}

* {
  margin: 0;
  padding: 0;
}

/* .content {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
} */

/* navbar */
.navbar-nav {
  justify-content: right;
  width: 100%;
}

.nav-item {
  margin-left: 20px;
}

.sign-in-btn {
  justify-content: end;
}


/* home content */
.section-hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 30px;
  background-color: #f8f9fa;
}

#home_car {
    flex: 0 0 50%; /* 不讓flex item縮放，始終維持50%寬度 */
    max-width: 50%; /* 限制最大寬度為50%，避免超過 */
}

.col-md-6 img {
    width: 100%; /* 讓圖片寬度自適應父容器 */
    height: auto; /* 高度自適應保持圖片比例 */
    object-fit: cover; /* 覆蓋整個元素，但可能切除圖片邊緣 */
}

.card-img {
  width: 100%; /* 圖片寬度填滿容器 */
  height: auto; /* 高度自適應 */
  object-fit: contain; /* 圖片覆蓋整個可用區域，不留空隙，不變形 */
}

.card-body {
  padding: 2rem; /* 更大的内边距使文本更易阅读 */
}

/* 首頁的熱門車款 */

.no-top {
  padding-top: 30px;
}

#section-cars {
  padding-top: 30px; /* Adjust the padding as needed */
}

.card-img-top {
  width: 100%;
  height: 200px; /* Set a fixed height for the images */
  object-fit: cover; /* This makes sure the image covers the area nicely */
}

.original-price {
  font-size: medium; /* Smaller font-size for the original price */
}

.discounted-price {
  color: #dc3545; /* A striking color for the discounted price */
  font-weight: 5px; /* Optional: makes the discounted price more prominent */
}

/* 註冊登入 */
.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.h-custom {
  height: calc(100% - 73px);
}

/* 全部汽車頁面 */
.like-icon {
  cursor: pointer;
  color: gray; /* Default color when not liked */
  font-size: 24px; /* Adjust size as needed */
}

.like-icon.liked {
  color: red; /* Red heart when liked */
}

/*
@media (min-width: 1025px) {
  .h-custom {
    height: 100vh !important;
  }
} */

/* Debugging Borders */
/* .container,
.carousel-inner,
.carousel-item,
.fa-solid {
  border: 1px solid red;
}

#section-cars {
  border: 1px solid blue;
} */
