<div class="col-md-9">
    <div class="py-5">
        <table class="table">
            <input type="hidden" id="username" name="username" type="text" class="form-control">
            <input type="hidden" id="email" name="email" type="email" class="form-control">
            <thead>
                <tr>
                    <th scope="col"><span class="text-uppercase fs-12 text-gray">Car ID</span></th>
                    <th scope="col"><span class="text-uppercase fs-12 text-gray">Car Name</span></th>
                    <th scope="col"><span class="text-uppercase fs-12 text-gray">Daily rate</span></th>
                    <th scope="col"><span class="text-uppercase fs-12 text-gray">Action</span></th>
                </tr>
            </thead>
            <tbody>
                <script src="{{ url_for('static', filename='js/user-favorites.js') }}"></script>
            </tbody>
        </table>
    </div>
</div>