<div class="col-md-9">
    <div class="py-5">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"><span class="text-uppercase fs-12 text-gray">Car ID</span></th>
                    <th scope="col"><span class="text-uppercase fs-12 text-gray">Car Name</span></th>
                    <th scope="col"><span class="text-uppercase fs-12 text-gray">Daily rate</span></th>
                    <th scope="col"><span class="text-uppercase fs-12 text-gray">Action</span></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><span class="d-lg-none d-sm-block">Car ID</span>
                        <div class="badge bg-gray-100 text-dark">#01245</div>
                    </td>
                    <td><span class="d-lg-none d-sm-block">Car Name</span><span class="bold">Ferrari Enzo</span></td>
                    <td><span class="d-lg-none d-sm-block">Daily rate</span>265</td>
                    <td>
                        <div class="badge rounded-pill bg-primary">Rent now</div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>