<div class="col-md-9">
    <div class="py-5">
        <table class="table">
            <input type="hidden" id="username" name="username" type="text" class="form-control">
            <input type="hidden" id="email" name="email" type="email" class="form-control">
            <thead>
                <tr>
                    <th scope="col"><span class="text fs-12 text-gray">Order ID</span></th>
                    <th scope="col"><span class="text fs-12 text-gray">Car Name</span></th>
                    <th scope="col"><span class="text fs-12 text-gray">Pick Up Location</span></th>
                    <th scope="col"><span class="text fs-12 text-gray">Drop Off Location</span></th>
                    <th scope="col"><span class="text fs-12 text-gray">Pick Up Date</span></th>
                    <th scope="col"><span class="text fs-12 text-gray">Return Date</span></th>
                    <th scope="col"><span class="text fs-12 text-gray">Status</span></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
<script src="{{ url_for('static', filename='js/user-bookings.js') }}"></script>
<script>
    function getStatusBadge(status, reservationId) {
        const HashTable = {
            'Cancelled': '<span class="badge bg-danger">Cancelled</span>',
            'Success': '<span class="badge bg-success">已付款</span>',
            'Pending': `<a href="/payment?reservationId=${reservationId}"><span class="badge bg-danger">待付款</span></a>`
        };
        return HashTable[status] || '<span class="badge bg-secondary">Unknown</span>';
    }
</script>