{% extends "base.html" %}

{% block content %}
<section id="section-cars" class="no-top">
    <div class="container">
        <div class="row">
            <!-- Filter sidebar -->
            <div class="col-lg-3">
                <div class="filter-group mb-3">
                    <h4>車門數</h4>
                    <div class="list-group">
                        <label class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="">
                            4門
                        </label>
                        <label class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="">
                            5門
                        </label>
                        <!-- More filters... -->
                    </div>
                </div>
                <!-- More filter groups... -->
                <div class="filter-group mb-3">
                    <h4>車身型式</h4>
                    <div class="list-group">
                        <label class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="">
                            掀背車
                        </label>
                        <label class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="">
                            轎車
                        </label>
                        <label class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="">
                            跨界休旅車
                        </label>
                        <!-- More filters... -->
                    </div>
                </div>
            </div>

            <!-- Car list -->
            <div class="col-lg-9">
                <div class="row" id="cars-container">
                    <!-- Car card -->
                    <script src="{{ url_for('static', filename='load-cars.js') }}"></script>
                    <!-- <script>
                        fetch("http://127.0.0.1:5000/api/cars")
                            .then((response) => response.json())
                            .then((data) => {
                                const carsContainer = document.getElementById("cars-container");
                                data.forEach((car) => {
                                    const carHtml = `
                                    <div class="col-lg-3 col-md-6 mb-4">
                                    <div class="card">
                                        <img src="https://fakeimg.pl/250/" class="card-img-top" alt="Car image"
                                            style="height: 200px;">
                                        <div class="card-body">
                                            <h5 class="card-title"> ${car.name}</h5>
                                            <p class="card-text"><i class="fas fa-heart"></i> 25 Likes</p>
                                            <p class="card-text">
                                                <strong class="me-2">Brand:</strong><span>${car.brand}</span><br>
                                                <strong class="me-2">Year:</strong><span>${car.year}</span><br>
                                                <strong class="me-2">Model:</strong><span>${car.model}</span>
                                            </p>
                                            <p class="card-text">Daily rate from <strong>$265</strong></p><br>
                                            <a href="#" class="btn btn-primary">Rent Now</a>
                                        </div>
                                    </div>
                                </div>
                                    `;
                                    carsContainer.innerHTML += carHtml
                                })
                                    .catch(error => console.error('Error fetching cars:', error));
                            })
                    </script> -->
                </div>
            </div>
        </div>
    </div>
</section>

<!-- content close -->

<a href="#" id="back-to-top"></a>

{% endblock %}