{% extends "base.html" %}

{% block content %}
<!-- content begin -->
<div id="content">
    <section id="section-hero">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 fade-in">
                    <h4><span style="font-weight: bold;">Plan your trip now</span></h4>
                    <h1>Explore the world with a comfortable car</h1>
                    <p class="lead">Embark on unforgettable adventures and discover the world in unparalleled comfort
                        and
                        style with our fleet of exceptionally comfortable cars.</p>
                    <form>
                        <button type="submit" class="btn btn-outline-dark"> Choose a Car </button>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <section id="section-cars" class="no-top">
        <div class="container">
            <div class="col-lg-6 offset-lg-3 text-center">
                <h2>Our Vehicle Fleet</h2>
                <p>Driving your dreams to reality with an exquisite fleet of versatile vehicles for
                    unforgettable
                    journeys.</p>
                <div class="spacer-20"></div>
            </div>
            <div id="car-carousel" class="carousel" data-ride="carousel">
                <div class="carousel-inner" id="carousel-inner"></div>
                <a class="carousel-control-prev" href="#car-carousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon"><i class="fa-solid fa-chevron-left"></i></span>
                </a>
                <a class="carousel-control-next" href="#car-carousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon"><i class="fa-solid fa-chevron-right"></i></span>
                </a>
            </div>
        </div>
    </section>
</div>
<!-- content close -->
<a href="#" id="back-to-top"></a>
{% endblock %}