{% extends "base.html" %}

{% block content %}
<!-- content begin -->
<div id="content">
    <section id="section-hero" class="py-5">
        <div class="container">
            <div class="row align-items-center">
                <!-- Card with Image on the left and text on the right -->
                <div class="col-lg-12">
                    <div class="card mb-3">
                        <div class="row g-0">
                            <!-- Image Section -->
                            <div class="col-md-6">
                                <a href="https://ibb.co/j3rMzM0"><img
                                        src="https://i.ibb.co/QYKNkNS/Free-Car-Transparent-Background-01.jpg"
                                        alt="Free-Car-Transparent-Background-01"></a>
                            </div>
                            <!-- Text Section -->
                            <div class="col-md-6">
                                <div class="card-body">
                                    <h4 class="card-title"><strong>Plan your trip now</strong></h4>
                                    <h1 class="display-4">Explore the world with a comfortable car</h1>
                                    <p class="card-text">Embark on unforgettable adventures and discover the world in
                                        unparalleled comfort and style with our fleet of exceptionally comfortable cars.
                                    </p>
                                    <a href="/cars" class="btn btn-primary">Choose a Car</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="section-cars" class="no-top">
        <div class="container">
            <div class="col-lg-6 offset-lg-3 text-center">
                <h2>Our Vehicle Fleet</h2>
                <p>Driving your dreams to reality with an exquisite fleet of versatile vehicles for unforgettable
                    journeys.
                </p>
                <div class="spacer-20"></div>
            </div>
            <div class="row" id="cars-container">
                <script src="{{ url_for('static', filename='js/pop-cars.js') }}"></script>
            </div>
        </div>
    </section>

    <script>
        window.addEventListener('load', function () {
            var heroSection = document.getElementById('section-hero');
            // 确保图片加载完成
            heroSection.style.backgroundImage = 'url("https://imgur.com/bifdfQc")';

            // 图片加载后开始显示文本
            var fadeInElements = document.querySelectorAll('.fade-in');
            fadeInElements.forEach(element => {
                element.style.animationPlayState = 'running'; // 开始动画
            });
        });
    </script>

</div>
<!-- content close -->
<a href="#" id="back-to-top"></a>
{% endblock %}