{% extends "base.html" %}

{% block content %}
<!-- content begin -->
<div id="content">
    <section id="section-hero" class="py-5">
        <div class="container">
            <div class="row align-items-center">
                <!-- Card with Image on the left and text on the right -->
                <div class="col-lg-12">
                    <div class="card-msic mb-3">
                        <div class="row g-0">
                            <!-- Image Section -->
                            <div id=home_car class="col-md-6 mt-2 mb-2">
                                <img src="../static/msic/car-2.png"
                                    alt='Free-Car-Transparent-Background-01' />
                            </div>
                            <!-- Text Section -->
                            <div id=home_car class="col-md-6">
                                <div class="card-body">
                                    <h4 class="card-title"><strong>Plan your trip now</strong></h4>
                                    <h1 class="display-4">Explore the world with a comfortable car</h1>
                                    <p class="card-text">Embark on unforgettable adventures and discover the world in
                                        unparalleled comfort and style with our fleet of exceptionally comfortable cars.
                                    </p>
                                    <a href="/cars" class="btn btn-primary">Choose a Car</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="section-cars" class="no-top">
        <div class="container">
            <div class="col-lg-6 offset-lg-3 text-center">
                <h2>Our Vehicle Fleet</h2>
                <p>Driving your dreams to reality with an exquisite fleet of versatile vehicles for unforgettable
                    journeys.
                </p>
                <div class="spacer-20"></div>
            </div>
            <div class="row" id="cars-container">
                <script src="{{ url_for('static', filename='js/pop-cars.js') }}"></script>
            </div>
        </div>
    </section>

</div>
<!-- content close -->
<a href="#" id="back-to-top"></a>
{% endblock %}